# IDE files
/.idea
*.iml

# Server
/target

# Sensitive files
#/sql-scripts/03-mock-data.sql
/src/main/resources/application-dev.properties
/src/main/resources/application-prod.properties
/src/main/resources/translate-api-key.json